<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <h1 class="text-center">Creditos</h1>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label form=""><b>Saldo:</b></label>
            <input type="text" class="form-control" readonly [value]="pegaValor">
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-danger btn-block "(click)="calcula(-1)">Descontar</button>
        </div>
      </div>
    </div>
  </div>
</div>
     <h1 class="text-center">Operações</h1>
<br>

<div class="row">
  <div class="col-6">
    <div class="jumbotron">
      <h5>Deposito:</h5>
      <div class="row">
        <div class="col-8">
          <div class="form-group">
              <div class="row">
                <div class="col-2">
                  <button class="btn btn-warning "(click)="calcula(1)">1</button>
                </div>

                <div class="col-2">
                  <button class="btn btn-warning "(click)="calcula(10)">10</button>
                </div>

                <div class="col-2">
                  <button class="btn btn-warning "(click)="calcula(100)">100</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="jumbotron">
      <h5>Saque:</h5>
      <div class="row">
        <div class="col-8">
          <div class="form-group">
              <div class="row">
                <div class="col-2">
                  <button class="btn btn-success "(click)="calcula(-1)">1</button>
                </div>

                <div class="col-2">
                  <button class="btn btn-success "(click)="calcula(-10)">10</button>
                </div>

                <div class="col-2">
                  <button class="btn btn-success "(click)="calcula(-100)">100</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
